@font-face {
  font-family: 'PublicSans';
  src: url("./assets/fonts/public-sans/PublicSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Marianne";
  src: url("./assets/fonts/marianne/marianne-regular.woff") format("woff"), url("./assets/fonts/marianne/marianne-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Marianne-Bold";
  src: url("./assets/fonts/marianne/marianne-bold.woff") format("woff"), url("./assets/fonts/marianne/marianne-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Marianne-Extrabold";
  src: url("./assets/fonts/marianne/marianne-extrabold.woff") format("woff"), url("./assets/fonts/marianne/marianne-extrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Regular.woff") format("woff"), url("./assets/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/inter/Inter-Bold.woff") format("woff"), url("./assets/fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
